body {
    margin: 0px;
    user-select: none;
    background: linear-gradient(rgba(133, 14, 14, 0.363), rgba(133, 14, 14, 0.363)), url(./images/Patterns/fancy-cushion.png);
    background-size: 650px;
    transition: filter 2s;
}

#content {
    margin:0;
    display:flex;
    justify-content: center;
    width:auto;
    height:auto;
}

.gameFrame {
    display:flex;
    justify-content: center;
    width: auto;
    height: auto;
    transition: filter 2s;
}

.table {
    padding-left: 2px;
    padding-top: 2px;
    margin-top: 8px;
    display:flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color:rgb(15, 63, 221, 0.5) rgb(252, 107, 139, 0.5) rgb(252, 107, 139, 0.5) rgb(15, 63, 221, 0.5) ;
    height:690px;
    width:690px;
    background: linear-gradient(rgba(223, 182, 94, 0.363), rgba(223, 182, 94, 0.363)), url(./images/Patterns/vertical_cloth.png);
}

.square {
    border-style: solid;
    border-width: 1px;
    width: 230px;
    height: 230px;
    margin: -1px;
}

.dropZone {
    background: grey;
    opacity: 50%;
}

.cardHand {
    padding-top: 24px;
    border-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 300px;
    height: auto;

}

.card{
    border-style:groove;
    border-width: 2px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 1;
    margin-bottom: -110px;
    justify-content: center;
    gap: 8px;
    align-items: center;
    transition: transform 0.6s, position 0.3s;
    transition-timing-function:(0.0, 0.0, 0.58, 1.0);
    width: 225px;
    height: 225px;
    background: linear-gradient(rgba(252, 107, 139, 0.45), rgba(201, 140, 150,0.45)), url(./images/Patterns/paper/textured_paper.png);
}

.card.playerCard {
    background: linear-gradient(rgba(15, 63, 221, 0.45), rgba(67, 84, 110, 0.45)), url(./images/Patterns/paper/textured_paper.png);
}

.hiddenText {
    color:rgba(97, 116, 180, 0);
    height: fit-content;
    width: 180px;
    text-justify: center;
}

.hiddenText:hover {
    color: rgb(97, 116, 180)
}

.cardPicture {
    margin: 0;
    width:150px;
    height: 150px;
}

.isInHand {
    border-width: 3px;
}
.isInHand:hover {
    z-index: 5;
    transform:  translateY(-20px);
    transition: transform 0.6s;
}

.card-top{
    margin: 0px;
}
.card-middle{
    display: flex; 
    justify-content:center;
    align-items: center;
    gap: 13px;
    width: 100%;
}
.card-right{margin: 0;}
.card-left{margin: 0}
.card-bottom{margin: 0px;}

.card-top, .card-right, .card-left, .card-bottom {
    text-shadow:1px 1px wheat;
    font-size: larger;
}

.card.flip1 {
    perspective: 1000px;
    transform: rotateY(90deg);
    transition-timing-function: (0.42, 0.0, 1.0, 1.0);
}

.pickableCard {
    transition: transform 0.2s, opacity 0.5s;
}
.pickableCard:hover{
    transform: scale(1.04);
}

.result {
    margin-left: -60px;
    text-justify: center;
    position:absolute;
    align-self: center;
    height: max-content;
    width: max-content;
    text-shadow: 3px 2px #dad2d2;
    color: rgb(202, 166, 66);
    opacity: 0;
    font-size: 130px;
    font-style:italic;
    transition: opacity 2s;
}

.draw {
    color: #575c34;
}

.win {
    color: #135d89;
}

.loss {
    color: #6a4145;
}

.result.resultFadeIn {
    opacity: 100;
}

.blur {
    filter: blur(3px);
}

.cardChoices {
    display:flex;
    position: absolute;
    align-self: flex-end;
    height:auto;
    width: auto;
    gap: 10px;
    margin-bottom: 100px;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.8s;
}

.cardChoices.visible {
    opacity: 1;
}

.mainMenuFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deckBuildingDiv {
    display:flex;
    justify-content: center;
    width: 1000px;
    height: 300px;
    align-items: center;
    gap: 20px;

}

.deckSelect {
    height: 60px;
    width: auto;
}

.deckDisplay {
    display:flex;
    justify-content: center;
}

.levelLibrary {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    height: 300px;
    gap: 16px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color: wheat;

}

.locked {
    width: 120px;
    height: 60px;
}

.unlocked {
    width:120px;
    height:60px;
}

.displayedCard {
    position:relative;
    margin: 0 0 0 0;
}

.displayedCard:hover{
    z-index: 2;
    /*transform:  translateY(+30px);*/

}

.returnToMenu {
    width: 50px;
    height: 50px;
    margin-top: 16px;
}

button {
    background-color:thistle;
}

.deckEditingBox {
    margin:12px;
    display:flex;
    justify-content: center;
    height:700px;
    width: max-content;
    border-style: solid;
    border-color: white;
}

.allCardsSide {
    display:flex;
    flex-wrap: wrap;
    width: 717px;
    height: max-content;
    max-height: 700px;
    overflow: auto;
    justify-content: baseline;
    margin-right: -14px;

}

.pickedCardsSide {
    width: 300px;
    height: auto;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pickedCardsShown {
    padding-top: 20px;
    display:flex;
    flex-wrap: wrap;
    border-color: white;
    width:300px;
    height:600px;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}
.pickedCardsShown .card {
    position:relative;
    margin:0;
}

.pickedCardsShown .cardBoxInEditing {
    margin-bottom: -160px;
    position:relative;
}


.allCardsSide .cardBox, .allCardsSide .card {
    margin: 0;
}

.cardBoxInEditing {
    border-style: solid;;
    border-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: max-content;    
}

.pickedCardsShown .cardBoxInEditing:hover {
    z-index: 2;
}

.cardName {
    margin: 0px;
    position:relative;
    background-color: wheat;
    width: 225px;
    text-align: center;

}

.saveChangesButton {

}